@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@theme {
  --color-primary: #42a2f2;
  --color-secondary: #fc5546;
  --color-title: #132f5f;
  --color-background: #f3f4f6;
  --color-text: #627792;

  --font-sans: "Rubik", sans-serif;
}

body {
  @apply font-sans bg-background text-text;
}
